services:
  mysql-auth:
    build:
      context: .
      dockerfile: mysql.Dockerfile # Especifica el nombre de tu Dockerfile si no es el predeterminado
      args:
        MYSQL_VERSION: ${MYSQL_VERSION}
    container_name: mysql-auth-container
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    expose:
      - "3306"
    volumes:
      - ~/volumes/mysql-resource-serve:/var/lib/mysql
    restart: always

  node-auth:
    build:
      context: .
      dockerfile: node.Dockerfile
    container_name: node-auth-container
    expose:
      - "3000"
    networks:
      - default
      - gateway-network
    restart: always
    environment:
      # Database
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      # JWT
      JWT_TOKEN_SECRET: ${JWT_TOKEN_SECRET}
      JWT_TOKEN_EXPIRE: ${JWT_TOKEN_EXPIRE}
      JWT_REFRESH_TOKEN_SECRET: ${JWT_REFRESH_TOKEN_SECRET}
      JWT_REFRESH_TOKEN_EXPIRE: ${JWT_REFRESH_TOKEN_EXPIRE}
      # Mail (SMTP)
      MAIL_HOST: ${MAIL_HOST}
      MAIL_PORT: ${MAIL_PORT}
      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
      # Mail Expiration
      MAIL_CONFIRM_EXPIRES_IN: ${MAIL_CONFIRM_EXPIRES_IN}
      MAIL_RESET_PASSWORD_EXPIRES_IN: ${MAIL_RESET_PASSWORD_EXPIRES_IN}
      # Application
      APP_USER_ROOT: ${APP_USER_ROOT}
    depends_on:
      - mysql-auth

volumes:
  auth-volume:

networks:
  gateway-network:
    name: gateway-network
    external: true
