DB_USER = xxxxxx
DB_PASSWORD = xxxxx
DB_PORT = xxxx
DB_DB = xxxx
DB_HOST = xxxx
JWT_TOKEN_SECRET = 'xxxxx'
JWT_TOKEN_EXPIRE = 'xxx'
JWT_REFRESH_TOKEN_SECRET = 'xxxx'
JWT_REFRESH_TOKEN_EXPIRE = 'xxxxx'