DB_USER = xxxxxx
DB_PASSWORD = xxxxx
DB_PORT = xxxx
DB_DB = xxxx
DB_HOST = xxxx
JWT_TOKEN_SECRET = 'xxxxx'
JWT_TOKEN_EXPIRE = 'xxx'
JWT_REFRESH_TOKEN_SECRET = 'xxxx'
JWT_REFRESH_TOKEN_EXPIRE = 'xxxxx'
MAIL_DRIVER = 'xxxxxx'
MAIL_HOST = 'xxxxxx'
MAIL_PORT  = 'xxxxxx'
MAIL_FROM_ADDRESS = 'xxxxxxx'
MAIL_FROM_NAME= 'xxxxxx'
MAIL_ENCRYPTION = 'xxxxx'
MAIL_USERNAME = 'xxxxxx'
MAIL_PASSWORD = 'xxxxx'
MAIL_CONFIRM_EXPIRES_IN = 24
MAIL_CONFIRM_URL = 'xxxxxx'
MAIL_RESET_PASSEWORD_URL = 'xxxx'
MAIL_RESET_PASSWORD_EXPIRES_IN = 24